.nav-item:hover{
    border-bottom:  2px solid purple;
}

.active{
    border-bottom: 2px solid rebeccapurple;
}

.zoekSpeler{
    border: 1px solid purple;
    color:  rebeccapurple;
}

.zoekSpeler:hover{
    background-color: rebeccapurple;
}

h2{
    color: rebeccapurple;
    font-family: 'Poppins', sans-serif;
}

#twitterFeed{
    height: 600px;
    overflow-y: scroll;
}

.modal-lg {
    max-width: 70% !important;
}

.mainBlock {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 32px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/*buttons*/

.mainHeader {
    position: relative;
    width: 120px;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    background: rebeccapurple;

}

.mainHeader:after{
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rebeccapurple;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);

}

.mainContent{
    /*border: 1px solid purple;*/
}


.numberTable{
    list-style: none;
    font-size: 2em;
    color: purple;
}

.typeTable{
    list-style: none;
    font-size: 0.8em;
}

.mainBody td, .mainBody th{
    border: none;
}

body, html {
    height: 100%;
}

.imageBg{
    /*background-image: url("../img/1c6a7a4c16670cef00676e38f297d091.jpg");*/
    background: rgb(251,90,202);
    background: linear-gradient(130deg, rgba(251,90,202,1) 0%, rgba(157,254,255,1) 89%);
    width: 100%;
    height: 100%;
    position: fixed;

    /* Center and scale the image nicely */
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    overflow: scroll;

}


@media only screen and (min-width: 1270px) {
    #lamaImg {
        position: absolute;
        right: 5%;
        top: 10%;
        width: 150px;
    }
}

@media only screen and (max-width: 1270px) {
    #lamaImg{
        display: none;
    }
}

.score{
    background-color: rgba(255,255,255, 0.4);
}

.windowsIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;

}

table{
    font-size: 1em;
}